.GroupRole-container {
    margin-top: 56px;


    .view-all-role {
        height: 80vh;
        border-radius: 10px;
        background: white;
        box-shadow: 0 2px 4px rgb(0 0 0/10%), 0 8px 16px rgb(0 0 0/10%);
        box-sizing: border-box;
    }
}